.widgetLg {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 50px;

  .widgetLgTitle {
    font-size: 2rem;
  }
  .widgetLgTable {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 20px;

    .widgetLgTr {
      display: flex;
      justify-content: space-between;

      .widgetLgTh {
        text-align: left;
        margin-bottom: 20px;
      }

      .widgetLgStatus {
        button {
          border: none;
          color: green;
          background-color: rgba(0, 128, 0, 0.129);
          padding: 10px;
          border-radius: 10px;
        }
      }
    }
  }
}
