.cart {
  padding: 50px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 480px) {
    padding: 0 20px;
  }

  .title {
    font-weight: 300;
    text-align: center;
  }

  .top {
    display: flex;
    justify-content: space-between;

    .button {
      button {
        padding: 20px;
        background: black;
        border: 2px solid black;
        color: white;
      }
    }
    .button:first-of-type {
      button {
        background: transparent;
        border: 2px solid black;
        color: black;
      }
    }
    .texts {
      display: flex;
      gap: 20px;

      @media screen and (max-width: 480px) {
        display: none;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 480px) {
      flex-direction: column;
    }

    .info {
      flex: 3;

      .product {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 480px) {
          flex-direction: column;
          height: inherit;
        }
        img {
          flex: 1;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .detail {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .title {
            text-align: inherit;
          }
          .id {
          }
          .color {
            width: 25px;
            height: 25px;
            background-color: black;
            border-radius: 50%;
          }
          .size {
          }
        }
        .total {
          flex: 1;
          display: flex;
          flex-direction: column;

          .amount {
            display: flex;
            align-items: center;

            span {
              font-size: 2.5rem;
              margin-bottom: 10px;
            }
          }
          .price {
            font-size: 2.5rem;
            font-weight: 300;
          }
        }
      }
    }

    .summary {
      // flex: 1;
      padding: 20px;
      padding-bottom: 30px;
      border: 1px solid rgba(128, 128, 128, 0.609);
      margin-top: 20px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: fit-content;

      .title {
        font-size: 3rem;
        font-weight: 300;
        @media screen and (max-width: 480px) {
          font-size: 1.5em;
        }
      }

      .items {
        width: inherit !important;
        display: flex;
        flex-direction: column;

        .item {
          width: inherit;
          background-color: inherit !important;
          display: flex;
          justify-content: space-between;
        }
      }

      .total {
        display: flex;
        font-size: 2rem;
        font-weight: 500;
        justify-content: space-between;
      }
      button {
        color: white;
        // flex: 1;
        padding: 20px;
        background-color: black;
        font-size: 1rem;
        letter-spacing: 5px;
      }
    }
  }
}
