.register {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940),
    center;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    width: 40%;
    padding: 20px;
    background-color: white;

    @media screen and (max-width: 480px) {
      width: inherit;
      padding: 5px;
    }

    .title {
      font-size: 24px;
      font-weight: 300;
    }

    form {
      display: flex;
      flex-wrap: wrap;

      input {
        width: 40%;
        margin: 20px 10px;
        padding: 10px;

        @media screen and (max-width: 480px) {
          width: inherit;
          padding: 5px;
          flex: 1;
        }
      }

      .agreement {
        font-size: 12px;
        margin: 0 10px;
      }

      button {
        width: 40%;
        margin: 20px 10px;
        padding: 15px 20px;
        letter-spacing: 5px;
        color: white;
        background-color: teal;
        border: none;
      }
    }
  }
}
