.product {
  display: flex;
  margin: 5px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // flex: 1;

  .circle {
  }

  img {
    width: 300px;
    object-fit: cover;
    cursor: pointer;
    z-index: 997;
    // @media screen and (max-width: 480px) {
    // }
  }

  .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: #5555ff;
    // background-color: #8b27ef;
    background-color: rgba(128, 128, 128, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    cursor: pointer;
    opacity: 0;
    z-index: 998;

    .icons {
      display: flex;
      gap: 20px;
      z-index: 9999;

      .icon {
        background-color: rgba(192, 192, 192, 0.372);
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: all 0.3s ease;
        cursor: pointer;
        // z-index: 9999;
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: rgba(255, 255, 255, 1);
          transform: scale(1.3);
          // color: #8b27ef;
          color: #5555ff;
        }

        // &:hover ~ .info {
        //   background-color: blue;
        // }
      }
      // .icon:hover ~ .info {
      //   background-color: blue;
      // }
    }
    // .icons:hover ~ .info {
    //   background-color: orange;
    // }
  }
  .info:hover {
    opacity: 1;
    background-color: rgba(0, 0, 255, 0.096);
  }

  // img:hover ~ .info {
  //   background-color: rgba(0, 0, 0, 0.4);
  //   opacity: 1;
  // }
}
